{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Ajouter un lieu{% endblock %}

{% block body %}
    <h2 class="text-center">Ajouter un lieu</h2>

    <div class="flex-col center text-center">
        {{ form_start(lieuForm) }}
        <div class="flex-row">
            {{ form_label(lieuForm.nom) }}
            {{ form_widget(lieuForm.nom) }}
        </div>
        <div class="flex-row">
            {{ form_label(lieuForm.rue) }}
            {{ form_widget(lieuForm.rue) }}
        </div>
        <div class="flex-row">
            {{ form_label(lieuForm.latitude) }}
            {{ form_widget(lieuForm.latitude) }}
        </div>
        <div class="flex-row">
            {{ form_label(lieuForm.longitude) }}
            {{ form_widget(lieuForm.longitude) }}
        </div>
        <div class="flex-row">
            {{ form_label(lieuForm.ville) }}
            {{ form_widget(lieuForm.ville) }}
        </div>
        <div class="flex-row">
            {{ form_row(lieuForm.creer) }}
        </div>

        {{ form_end(lieuForm) }}
    </div>
{% endblock %}