{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Nouvel utilisateur{% endblock %}

{% block body %}
    <h2 class="text-center">Créer un utilisateur</h2>

    <div class="flex-col center text-center">
        {{ form_start(registrationForm) }}
        <div class="flex-row">
            {{ form_label(registrationForm.Pseudo) }}
            {{ form_widget(registrationForm.Pseudo) }}
        </div>
        <div class="flex-row">
            {{ form_label(registrationForm.Prenom) }}
            {{ form_widget(registrationForm.Prenom) }}
        </div>
        <div class="flex-row">
            {{ form_label(registrationForm.Nom) }}
            {{ form_widget(registrationForm.Nom) }}
        </div>
        <div class="flex-row">
            {{ form_label(registrationForm.Telephone) }}
            {{ form_widget(registrationForm.Telephone) }}
        </div>
        <div class="flex-row">
            {{ form_label(registrationForm.email) }}
            {{ form_widget(registrationForm.email) }}
        </div>
        <div class="flex-row">
            {{ form_label(registrationForm.password) }}
            {{ form_widget(registrationForm.password) }}
        </div>
        <div class="flex-row">
            {{ form_label(registrationForm.site) }}
            {{ form_widget(registrationForm.site) }}
        </div>
        <br>

        <button type="submit" class="btn">Enregistrer</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
