{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Mon profil{% endblock %}

{% block body %}

    <h1 class="center text-center">Mon profil</h1>

    <div class="flex-row text-center">
        {{ form_start(profilForm) }}
        <div class="grid-card flex-col center">
            <div class="flex-row text-left">
                {{ form_row(profilForm.email) }}
                {{ form_row(profilForm.Pseudo) }}
                {{ form_row(profilForm.imageFile) }}
                {{ form_row(profilForm.nom) }}
                {{ form_row(profilForm.prenom) }}
                {{ form_row(profilForm.telephone) }}
            </div>
            {% if user.image %}
                <img class="photo-profil"
                     src="{{ asset("images/products/" ~ user.image) }}"
                     alt="Ma photo de profil">
            {% endif %}
        </div>
        <div class="flex-col grid-card center">
            {{ form_row (profilForm.password) }}
        </div>

        {{ form_end(profilForm) }}
    </div>

{% endblock %}
