{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Mon profil{% endblock %}

{% block body %}

    <h2 class="center text-center">Mon profil</h2>

    <div class="text-center neon-no-hover">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alter-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    <div class="flex-row text-center">
        {{ form_start(profilForm) }}
        <div class="grid-card flex-col center">
            <div class="flex-row text-left">
                {{ form_row(profilForm.email) }}
                {{ form_row(profilForm.Pseudo) }}
                {{ form_row(profilForm.imageFile) }}
                {{ form_row(profilForm.nom) }}
                {{ form_row(profilForm.prenom) }}
                {{ form_row(profilForm.telephone) }}
            </div>
            {% if user.image %}
                <img class="photo-profil"
                     src="{{ asset("images/products/" ~ user.image) }}"
                     alt="Ma photo de profil">
            {% else %}
                <img class="photo-profil"
                     src="{{ asset('images/avatar.png') }}"
                     alt="Ma photo de profil">
            {% endif %}
        </div>
        <div class="flex-col grid-card center">
            {{ form_row (profilForm.password) }}
        </div>

        {{ form_end(profilForm) }}
    </div>

{% endblock %}
