{% extends 'base.html.twig' %}

{% block body %}

    {% if user.image %}
        <img class="photo-profil"
             src="{{ asset("images/products/" ~ user.image) }}"
             alt="Photo de {{ user.image }}">
    {% else %}
        <img class="photo-profil"
             src="{{ asset('images/avatar.png') }}"
             alt="Participant sans photo">
    {% endif %}

    <h2 class="text-center">{{ user.pseudo }}</h2>
    <div class="flex-row center text-center">
        {{ user.prenom }}<br>
        {{ user.nom }}<br>
        {{ user.telephone }}<br>
        {{ user.email }}<br>
        {{ user.site.nom }}<br>
        <a href="{{ path('sortie_list') }}">
            <button>Retour</button>
        </a>
    </div>

{% endblock %}

{% block title %}
    {{ parent() }} Profil de {{ user.pseudo }}
{% endblock %}

