{% extends 'base.html.twig' %}

{% block body %}
    <h1>Afficher une sortie</h1>
    <ul>
        <li>Nom de la sortie : {{ sortie.nom }}</li>
        <li>Date et heure de la sortie : {{ sortie.dateHeureDebut | date('d/m/Y H:i') }}</li>
        <li>Date limite d'inscription : {{ sortie.dateLimitInscription | date('d/m/Y') }}</li>
        <li>Nombre de places : {{ sortie.nbInscriptionsMax }}</li>
        <li>Durée : {{ sortie.duree | date('H:i') }}</li>
        <li>Ville organisatrice : {{ sortie.site.nom }}</li>
        <li>Lieu : {{ sortie.lieu.nom }}</li>
        <li>Rue : {{ sortie.lieu.rue }}</li>
        <li>Code postal : {{ sortie.lieu.ville.codePostal }}</li>
        <li>Latitude : {{ sortie.lieu.latitude }}</li>
        <li>Longitude : {{ sortie.lieu.longitude }}</li>
        <li>Description et infos : {{ sortie.infosSortie }}</li>
    </ul>

    <h2>Liste des participants</h2>
    <div class="tab">
        <div class="tab-titre">
            <div>Pseudo</div>
            <div>Nom</div>
        </div>


        {% for leparticipant in sortie.participant %}
            <div class="tab-data">
                <div>{{ leparticipant.pseudo }}</div>
                <div>{{ leparticipant.prenom }} {{ leparticipant.nom }}</div>
            </div>
        {% endfor %}

    </div><br>

    <h2> Groupe privé</h2>
    <a href="{{ path('sortie_groupe', {id : sortie.id}) }}" class="btn">Créer un groupe privé
    </a>
    <a class="btn" href="{{ path('sortie_ajouterParticipant', {id : sortie.id}) }}">Ajouter des membres</a>

{% endblock %}

{% block title %}
    {{ parent() }}Sortie : {{ sortie.nom }}
{% endblock %}

