{% extends 'base.html.twig' %}

{% block body %}

    <div class="flex-row center">
        <h1>Groupe privée {{ groupe.nom }}</h1>

        <h2>Ajouter des membres au groupe</h2>

        <h3>Liste des participants à la sortie</h3>
        <div class="tab">
            <div class="tab-titre">
                <div>Pseudo</div>
                <div>Nom</div>
                <label>Membre</label>
                <div>Action</div>
            </div>

            {% for leparticipant in sortie.participant %}
                <div class="tab-data">
                    <div>{{ leparticipant.pseudo }}</div>
                    <div>{{ leparticipant.prenom }} {{ leparticipant.nom }}</div>
                    <label class="neon-no-hover">{{ (leparticipant in groupe.participant) ? 'X' : '' }}</label>
                    {% if leparticipant in groupe.participant %}
                        <a class="neon" href="{{ path('sortie_exclure', {id : groupe.id, idUser : leparticipant.id, idSortie : sortie.id})}}">Exclure</a>
                    {% else %}
                        <a href="{{ path('sortie_ajouter', {id : groupe.id, idUser : leparticipant.id, idSortie : sortie.id})}}">Ajouter</a>
                    {% endif %}

                </div>
            {% endfor %}
        </div>

        <a class="btn" href="{{ path('sortie_afficher', {id : sortie.id}) }}">Revenir à la sortie</a>
    </div>

{% endblock %}

{% block title %}
    {{ parent() }}Groupe : {{ groupe.nom }}
{% endblock %}