{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}Créer une sortie
{% endblock %}

{% block body %}

    <h2 class="text-center">Créer une sortie</h2>

    <div class="text-center neon-no-hover">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alter-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    <div class="flex-row center text-center">

        {{ form_start(sortieForm) }}

        <div class="flex-row">
            <label>{{ field_label(sortieForm.lieu) }} :</label>
            <div>{{ form_widget(sortieForm.lieu) }}
                {% if not app.flashes %}
                    <a href="{{ path('sortie_ajouterlieu') }}" class="btn-plus margin-xs">
                        +
                    </a>
                {% endif %}
            </div>
            <br><br>
        </div>

        <div class="flex-row">
            <label>{{ field_label(sortieForm.nom) }} :</label>
            <div>{{ form_widget(sortieForm.nom) }}</div>
            <br>
        </div>

        <div class="flex-row">
            <label>{{ field_label(sortieForm.dateHeureDebut) }} :</label>
            <div>{{ form_widget(sortieForm.dateHeureDebut) }}</div>
            <br>
        </div>

        <div class="flex-row">
            <label>{{ field_label(sortieForm.dateLimitInscription) }} :</label>
            <div>{{ form_widget(sortieForm.dateLimitInscription) }}</div>
            <br>
        </div>
        <div class="flex-row">
            <label>{{ field_label(sortieForm.nbInscriptionsMax) }} :</label>
            <div>{{ form_widget(sortieForm.nbInscriptionsMax) }}</div>
            <br>
        </div>

        <div class="flex-row">
            <label>{{ field_label(sortieForm.duree) }} :</label>
            <div>{{ form_widget(sortieForm.duree) }}</div>
            <br>
        </div>

        <div class="flex-row">
            <label>{{ field_label(sortieForm.InfosSortie) }} :</label>
            <div>{{ form_widget(sortieForm.InfosSortie) }}</div>
            <br>
        </div>

        <div class="flex-row">
            <label>{{ field_label(sortieForm.site) }} :</label>
            <div>{{ form_widget(sortieForm.site) }}</div>
            <br>
        </div>

        <div class="flex-row">
            <div>{{ form_widget(sortieForm.Enregistrer) }}</div>
            <div>{{ form_widget(sortieForm.Publier) }}</div>
            <a class="btn" href="{{ path('sortie_list') }}">Annuler</a>
        </div>
        {{ form_end(sortieForm) }}

    </div>

{% endblock %}