{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}Créer un groupe
{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alter-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% if not groupeExist %}
        <div class="flex-row center">
            <h1>Créer un groupe privé</h1>

            <div>
                {{ form_start(groupeForm) }}
                <p>Nom du groupe : {{ form_widget(groupeForm.nom) }}</p>
            </div>
            <div class="flex-row">
                <input type="submit" class="btn" href="{{ path('sortie_ajouterParticipant', {id : sortie.id}) }}" value="Créer">
                {{ form_end(groupeForm) }}
                <a class="btn" href="{{ path('sortie_afficher', {id : sortie.id}) }}" >Annuler</a>
            </div>
        </div>
    {% else %}
        <div class="flex-row center">
            <h1>Un groupe existe déjà pour cette sortie </h1>
            <a class="btn" href="{{ path('sortie_ajouterParticipant', {id : sortie.id }) }}">Ajouter des membres</a>
            <a class="btn" href="{{ path('sortie_afficher', {id : sortie.id}) }}">Revenir à la sortie</a>
        </div>


    {% endif %}

{% endblock %}