{% extends 'base.html.twig' %}

{% block title %}
    <h2>Créer un groupe</h2>
{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alter-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% if not groupeExist %}
        <h2 class="centrer">Créer un groupe privé</h2>

        <div class="centrer">
            {{ form_start(groupeForm) }}
            <p>Nom du groupe : {{ form_widget(groupeForm.nom) }}</p>
        </div>
        <div class="flex-row">
            <button class="btn" href="href="{{ path('sortie_ajouterParticipant', {id : sortie.id}) }}
            ">{{ form_widget(groupeForm.Creer) }}</button>
            <a class="btn" href="{{ path('sortie_afficher', {id : sortie.id}) }}">Annuler</a>
        </div>
        {{ form_end(groupeForm) }}

    {% else %}

        <h2>Vous avez déjà créé un groupe pour cette sortie </h2>
        <a class="btn" href="{{ path('sortie_ajouterParticipant', {id : sortie.id }) }}">Ajouter des membres</a>


    {% endif %}

{% endblock %}