{% extends 'base.html.twig' %}

{% block body %}
    <div class="flex-row text-center center">

        <h2>Liste des sorties</h2>

        <div class="text-center neon-no-hover">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alter-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>


    </div>

    <section class="flex-col center filtres">
        <form method="GET" action="{{ path('sortie_list') }}">
            <div class="flex-col">
                <div class="flex-row">
                    <div class="box">
                        <label for="site" class="bold margin-right-xs label">Site </label>
                        <select name="site" id="site">
                            <option value="">-Choisir un Site !-</option>
                            {% for site in sites %}
                                <option value="{{ site.id }}" {{ (criteres.site == site.id) ? 'selected="selected"' : '' }}>{{ site.nom }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="box">
                        <label class="bold margin-right-xs label" for="motsclefs">Le nom contient </label>
                        <input type="text" name="motsclefs"
                               id="motsclefs" value="{{ criteres.motsclefs }}">
                    </div>

                    <div class="box">
                        <label class="bold margin-right-xs label" for="datedebut">Entre </label>
                        <input class="margin-right-xs" type="date" name="datedebut" id="datedebut"
                               value="{{ criteres.datedebut }}">
                        <label class="bold margin-right-xs" for="datefin"> et </label>
                        <input type="date" name="datefin" id="datefin" value="{{ criteres.datefin }}">
                    </div>

                    <div class="box">
                        <input class="margin-right-xs" type="checkbox" name="organisateur"
                               id="organisateur" {{ (criteres.organisateur) ? 'checked' : '' }}>
                        <label class="bold" for="organisateur">Sorties dont je suis l'organisateur/trice</label>
                    </div>

                    <div class="box">
                        <input class="margin-right-xs" type="checkbox" name="incrit"
                               id="incrit" {{ (criteres.inscrit) ? 'checked' : '' }}>
                        <label class="bold" for="incrit">Sorties auxquelles je suis inscrit/e</label>
                    </div>

                    <div class="box">
                        <input class="margin-right-xs" type="checkbox" name="noninscrit"
                               id="noninscrit" {{ (criteres.noninscrit) ? 'checked' : '' }}>
                        <label class="bold" for="noninscrit">Sorties auxquelles je ne suis pas inscrit/e</label>
                    </div>

                    <div class="box">
                        <input class="margin-right-xs" type="checkbox" name="passees"
                               id="passees" {{ (criteres.passees) ? 'checked' : '' }}>
                        <label class="bold" for="passees">Sorties passées</label>
                    </div>
                </div>

                <input class="btn" type="submit" value="Rechercher">
            </div>
        </form>
        <br>
    </section>

    {% if app.user %}
        <a href="{{ path('sortie_create') }}" class="filtres flex-col center text-center">
            <button class="width-100 heigth-l font-l">Créer une sortie</button>
        </a>
    {% endif %}

    <section class="grid">
        {% for sortie in sorties %}

            <article class="grid-card text-center">
                <div class="bold text-center neon-no-hover">{{ sortie.nom }}</div>
                <br>
                RDV <b>{{ sortie.dateHeureDebut | date('d/m/Y') }}</b><br>
                Clôture <b>{{ sortie.dateLimitInscription | date('d/m/Y') }}</b><br>
                {% if app.user in sortie.participant %}
                Tu es <b>Inscrit</b>
            {% else %}
                Tu es <b>Non inscrit</b>
                {% endif %}<br>
                Il reste <b>{{ sortie.nbInscriptionsMax - sortie.participant |length }} places</b>
                <br>
                Statut {{ sortie.etat.libelle }}<br><br>
                {% if sortie.organisateur.image %}
            <img class="photo-profil"
                 src="{{ asset("images/products/" ~ sortie.organisateur.image) }}"
                 alt="Photo de {{ sortie.organisateur.pseudo }}">
            {% else %}
                <img class="photo-profil"
                     src="{{ asset('images/avatar.png') }}"
                     alt="Organisateur sans photo">
                {% endif %}<br><br>
                <div class="neon-no-hover">{{ sortie.organisateur.pseudo }}</div>
                <br><br>
                <hr>
                <div class="text-center">
                    {% if sortie.etat.libelle == 'Créée' %}
                        {% if sortie.organisateur == app.user %}
                            <a class="neon" href="{{ path('sortie_modifier', {id : sortie.id}) }}">
                                Modifier
                            </a>
                            <br>
                            <a class="neon" href="{{ path('sortie_publier', {id : sortie.id}) }}">
                                Publier
                            </a>
                            <br>
                        {% endif %}
                    {% else %}
                        <a class="neon" href="{{ path('sortie_afficher', {id : sortie.id}) }}">
                            Afficher
                        </a>
                        {% if (sortie.etat.libelle == 'Ouverte') %}
                            {% if sortie.organisateur == app.user %}
                                <br>
                                <a class="neon" href="{{ path('sortie_annuler', {id : sortie.id}) }}">
                                    Annuler
                                </a>
                            {% else %}
                                <br>
                                {% if app.user in sortie.participant %}
                                    <a class="neon" href="{{ path('sorties_desister', {id : sortie.id}) }}">
                                        Se désister
                                    </a>
                                {% else %}
                                    <a class="neon" href="{{ path('sorties_sinscrire', {id : sortie.id}) }}">
                                        S'inscrire
                                    </a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            </article>
        {% endfor %}
    </section>


{% endblock %}

{% block title %}
    {{ parent() }}Liste des sorties
{% endblock %}