{% extends 'base.html.twig' %}

{% block body %}

    <div>
        <p>Date du jour : </p>
        {% if app.user %}
            <p>Participant :  {{ app.user.pseudo }}</p>
        {% endif %}
    </div>
    <section>

        {% for sortie in sorties %}

            {{ sortie.nom }}
            {{ sortie.dateHeureDebut | date('d/m/Y') }}
            {{ sortie.dateLimitInscription | date('d/m/Y')}}
            {{ sortie.nbInscriptionsMax }}
            {{ sortie.etat.libelle }}
            {% if app.user in sortie.participant %}
                x
            {% endif %}
            {{ sortie.organisateur.pseudo }}
            {% if sortie.etat.libelle == 'Créée'%}
               {% if sortie.organisateur == app.user  %}
                  <a>Modifier</a>
                  <p> - Publier</p>
               {% endif %}
            {% elseif sortie.etat.libelle == 'Ouvert' %}
                {% if sortie.organisateur == app.user %}
                    <a>Afficher</a>
                    <a> - Annuler</a>
                {%  else %}
                    <a>Afficher</a>
                    <a> - Se désister</a>
                {% endif %}
            {% else %}
                <a>Afficher</a>
            {% endif %}


        {% endfor %}

        {% if app.user %}
            <a href={{ path('sortie_create') }}>Créer une sortie</a>
        {% endif %}

    </section>

{% endblock %}

{% block title %}

{% endblock %}

