{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}Modifier une sortie
{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alter-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <h1 class="text-center">Modifier une sortie</h1>

    <div class="flex-row center ">
        {{ form_start(modifierSortieForm) }}
        <div class="flex-col">
            <label class="label" >{{ field_label(modifierSortieForm.nom) }} :</label>
            <div>{{ form_widget(modifierSortieForm.nom) }}</div><br>
        </div>

        <div class="flex-col">
            <label class="label">{{ field_label(modifierSortieForm.dateHeureDebut) }} :</label>
            <div>{{ form_widget(modifierSortieForm.dateHeureDebut) }}</div><br>
        </div>

        <div class="flex-col">
            <label class="label">{{ field_label(modifierSortieForm.dateLimitInscription) }} :</label>
            <div>{{ form_widget(modifierSortieForm.dateLimitInscription) }}</div><br>
        </div>

        <div class="flex-col">
            <label class="label">{{ field_label(modifierSortieForm.nbInscriptionsMax) }} :</label>
            <div>{{ form_widget(modifierSortieForm.nbInscriptionsMax) }}</div><br>
        </div>

        <div class="flex-col">
            <label class="label">{{ field_label(modifierSortieForm.duree) }} :</label>
            <div>{{ form_widget(modifierSortieForm.duree) }}</div><br>
        </div>

        <div class="flex-col">
            <label class="label">{{ field_label(modifierSortieForm.InfosSortie) }} :</label>
            <div>{{ form_widget(modifierSortieForm.InfosSortie) }}</div><br>
        </div>

        <div class="flex-col">
            <label class="label">{{ field_label(modifierSortieForm.site) }} :</label>
            <div>{{ form_widget(modifierSortieForm.site) }}</div><br>
        </div>

        <div class="flex-col">
            <label class="label">{{ field_label(modifierSortieForm.lieu) }} :</label>
            <div>{{ form_widget(modifierSortieForm.lieu) }}</div><br><br><br>
        </div>

        <div class="flex-col center" >
            <div>{{ form_widget(modifierSortieForm.Enregistrer) }}</div>
            <div>{{ form_widget(modifierSortieForm.Publier) }}</div>
            <a class="btn" href="{{ path('sortie_list') }}">Annuler</a>

        </div>

        {{ form_end(modifierSortieForm) }}

    </div>
{% endblock %}