<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}PartouzMania - {% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/fichierCss.css') }}">
</head>
<body>
<header class="align_droite">
    {% if app.user %}
        {% if 'ROLE_ADMIN' in app.user.roles %}
            <a href="{{ path('administration_index') }}"> Administration /</a>
            <a href="{{ path('administration_gererVilles') }}"> Villes /</a>
            <a href="{{ path('administration_gererSites') }}"> Sites / </a>
        {% endif %}
    {% endif %}
    <a href="{{ path('sortie_list') }}"> Acceuil /</a>
    {% if app.user %}
        <a href="{{ path('app_logout') }}">Se déconnecter /</a>
        <a href="{{ path('profil_users') }}">Profil</a><br>
        <p>Bienvenue {{ app.user.pseudo }}</p>
    {% else %}
        <a href="{{ path('app_login') }}">Se connecter</a>
        <!-- <a href="{{ path('app_register') }}">Register</a> -->
    {% endif %}
</header>
{% block body %}{% endblock %}
{% block footer %}{% endblock %}
</body>
</html>
