<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}PartouzMania - {% endblock %}</title>
</head>
<body>
<header>
    <a href="{{ path('profil_users') }}">Profil </a><br>
    <a href="{{ path('sortie_list') }}">Acceuil </a><br>
    {% if app.user %}
        <a href="{{ path('app_logout') }}">Logout</a>
        <li> Bienvenue {{ app.user.pseudo }}</li>
    {% else %}
        <a href="{{ path('app_login') }}">Login</a>
        <a href="{{ path('app_register') }}">Register</a>
    {% endif %}
</header>
</div>
{% block body %}{% endblock %}
{% block footer %}{% endblock %}
</body>
</html>
