{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="text-center">Gérer les villes</h2>

    <section class="text-center">
        <form method="GET" action="{{ path('administration_gererVilles') }}">
            <div class="box">
                <label for="motsclefs">Le nom de la ville contient :</label><br>
                <input type="text" name="motsclefs" id="motsclefs" value="{{ motsclefs }}">
            </div>
            <div class="centrer">
                <input class="btn" type="submit" value="Rechercher">
            </div>
        </form>
    </section>

    <br>
    <br>

    <div class="flex-row center">
        <table>
            <tr>
                <th>Ville</th>
                <th>Code postal</th>
                <th>Actions</th>
            </tr>
            {% for ville in villes %}
                <tr>
                    <td>{{ ville.nom }}</td>
                    <td>{{ ville.codePostal }}</td>
                    <td>
                        <input type="submit" href="{{ path('administration_supprimerVille', {id : ville.id}) }}"
                               value="Supprimer">
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td>
                    {{ form_start(villeForm) }}
                    {{ form_widget(villeForm.nom) }}
                </td>
                <td>{{ form_widget(villeForm.codePostal) }}</td>
                <td>
                    {#  <a href="">Ajouter</a> #}
                    {{ form_end(villeForm) }}
                </td>
            </tr>
        </table>
    </div>

{% endblock %}

{% block title %}
    {{ parent() }}Administration - Gérer les villes
{% endblock %}