{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Gérer les sites</h1>

    <section class="text-center">
        <form method="GET" action="{{ path('administration_gererSites') }}">
            <div class="box">
                <label for="motsclefs">Le nom du site contient :</label><br>
                <input type="text" name="motsclefs" id="motsclefs" value="{{ motsclefs }}">
            </div>
            <div class="centrer">
                <input class="btn" type="submit" value="Rechercher">
            </div>
        </form>
    </section>
    <br>
    <br>
    <div class="flex-row center">
        <table>
            <tr>
                <th>Ville</th>
                <th>Actions</th>
            </tr>

            {% for site in sites %}
                <tr>
                    <td>{{ site.nom }}</td>
                    <td>
                        <a href="{{ path('administration_supprimerSite', {id : site.id}) }}">Supprimer</a>
                    </td>

                </tr>
            {% endfor %}
            <tr>
                <td>
                    {{ form_start(siteForm) }}
                    {{ form_widget(siteForm.nom) }}
                </td>
                <td>
                    {#  <a href="">Ajouter</a> #}
                    {{ form_end(siteForm) }}
                </td>
            </tr>
        </table>
    </div>
{% endblock %}

{% block title %}
    {{ parent() }}Administration - Gérer les sites
{% endblock %}