{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Administration{% endblock %}

{% block body %}

    <div class="text-center flex-row center">
        <h2 class="">Administration</h2>
        <div class="grille">
        <span class="btn">
                    <a href="{{ path('app_register') }}">Création d'un utilisateur</a>
                </span>
            <span class="btn">
                    <a href="{{ path('administration_listeUsers') }}">Liste des utilisateurs</a>
                </span>
            <span class="btn">
                    <a href="{{ path('administration_listeSorties') }}">Annuler une sortie</a>
                </span>
            <span class="btn">
                    <a href="">{# TODO #}Import d'une liste d'utilisateurs (encours)</a>
                </span>
            <span class="btn">
                    <a href="{{ path('administration_gererSites') }}">Gérer les sites</a>
                </span>
            <span class="btn">
                    <a href="{{ path('administration_gererVilles') }}">Gérer les villes</a>
                </span>
        </div>
    </div>
{% endblock %}
