{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Administration{% endblock %}

{% block body %}
    <h1>Administration</h1>

    <ul>
        <li><a href="{{ path('app_register') }}">
                Création d'un utilisateur
            </a>
        </li>
        <li><a href="{{ path('administration_listeUsers') }}">
                Liste des utilisateurs
            </a>
        </li>
        <li><a href="{{ path('administration_listeSorties') }}">
                Annuler une sortie
            </a>
        </li>
        <li><a href="">
                {# TODO #}
                Import d'une liste d'utilisateurs (encours)
            </a>
        </li>
        <li><a href="{{ path('administration_gererSites') }}">
                Gérer les sites
            </a>
        </li>
        <li><a href="{{ path('administration_gererVilles') }}">
                Gérer les villes
            </a>
        </li>

    </ul>

{% endblock %}
