{% extends 'base.html.twig' %}

{% block body %}

    <h2 class="centrer">Liste des sorties</h2>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alter-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="grid">
        {% for sortie in sorties %}
            <div class="grid-card center text-center">
                <b>{{ sortie.nom }}</b>
                <p>{{ sortie.lieu.nom }}</p>
                <p>{{ sortie.site.nom }}</p>
                <p>Créé par {{ sortie.organisateur.pseudo }}</p>
                <a href="{{ path('administration_supprimer', {id : sortie.id}) }}">
                    <button>Supprimer</button>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block title %}
    {{ parent() }}Administration - Liste des sorties
{% endblock %}

